body {
  width: 100%;
  height: 100%;
  margin: 0;
}
head{
text-align: center;
}
body{
  text-align: center;
}
image{
  font-size: medium;
}
p{
  width: 800px;
  text-align: center;
  margin: auto;
  column-gap: 20px;
}
section#details {
background-color: red;
text-align: center;
float: left;
}
nav a{
  background-color: rgb(189, 187, 187);
}
div.B {
  float: left;
  margin: auto;
  text-align: center;
  
}